body {
    font-family: 'Microsoft JhengHei UI';
}

.topBar {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgb(82, 113, 170);
    border-radius: 8px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.topTitle {
    height: 170px; width: 90%;
    padding-top: 300px;
    background: linear-gradient(to right, rgb(168, 210, 244) 0%, rgb(138, 180, 214) 55%, rgb(88, 130, 164) 100%);
    box-shadow: 5px, 5px, #666;
    border-radius: 10px;
}

.standardBar {
    position: relative;
    top: 30px;
    left: 50px;
    bottom: 10px;
} 

.leftTen {
    position: relative;
    left: 10px;
} 

.actvSum {
    width: 90%;
    box-shadow: 5px, 5px, #666;
    border: 1px solid #333;
    border-radius: 8px;
    padding-bottom: 30px;
} 

.actv1 {
    border: 1px solid rgb(130, 130, 130);
    border-radius: 8px;
    width: 90%;
}

#hidAuth {
    position: relative;
    top: 50px;
}

#hidZone {
    position: relative;
    top: 70px;
}
