body {
    font-family: 'Microsoft JhengHei UI';
}

.topBar {
    position: relative;
    height: 50px;
    width: 100%;
    background-color: rgb(82, 113, 170);
    border-radius: 8px;
}

.topTitle {
    height: 170px; width: 90%;
    padding-top: 300px;
    background: linear-gradient(rgb(118, 160, 194) 0%, rgb(138, 180, 214) 100%);
    border-radius: 10px;
}

.standardBar {
    position: relative;
    top: 30px;
    left: 40px;
} 

.leftTen {
    position: relative;
    left: 10px;
} 